/*style.css*/

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x:hidden;
}
.latiao {
    min-width: 320px;
}

.header {
    box-sizing: border-box;
    width: 100vw;
    height: 80px;
    display: flex;
    background-color: #303030;
    justify-content: space-around; 
    align-items: center;
    z-index: 1;
}

.logo {
    margin: 0 10px;

}

.logo>img {
    width: 120px;
}

.fa.fa-github-alt,.fa.fa-qq,.fa.fa-weibo {
    font-size: 25px;

}

.contact {
    margin-right: 20px;
    align-items: center;
    color: rgb(128, 128, 128);
    display: flex;
    justify-content: space-around;
    width: 128.516px;
}

.item {
    display: inline-block;
    font-size: 0;
    list-style: none;
}

.item>a {
    font-size: 17px;
    color: rgb(128, 128, 128);
    text-decoration: none;
    padding-bottom: 20px;
}
.item>a:hover {
    border-bottom: 2px solid grey;
}

.menu {
    display: flex;
    width: 421.469px;
    justify-content: space-between;
}

.product {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 390px;
    background-color: rgba(250, 250, 250, .9);
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    margin: 50px;
    border-radius: 5px;
    transition: .2s;/*表示时间*/
}
.product:hover {
    /*transform: translate3d(0, -2px, 0);*/
    box-shadow: 0 17px 40px 0 rgba(1, 0, 0, .19);
}

.productimg>a>img {
    width: 260px;
    padding-top: 20px;
}

.link>a {
    font-size: 15px;
    text-decoration: none;
    color: #0070c9;
    margin-top: 10px;
}

.title>h1 {
    color: gray;
    font-size: 25px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

#gift {
    height: 480px;
    background-color: rgba(242, 242, 242, 1);
}

.summary {
    font-size: 20px;
    padding: 20px 0 30px;
    text-align: center;
    color: rgb(128, 128, 128);
}
.nav {
    display: none;
}

@media only screen and (max-width: 700px) {
    #gift {
        order: -1;
    }
    .main {
        flex-direction: column;
    }
    .menu {
        display: none;
        width: 100vw;
        flex-direction: column;
        margin: 0;
        text-align: center;
        flex-basis: 100%;
        align-items: center;
    }
    .contact {
        display: none;
        justify-content: space-around;
        background-color: #303030;
        width: 100vw;
        z-index: 1;
        height: 60px;
        margin-right: 0px;
        flex-basis: 100%;
        line-height: 60px;
    }
    .item {
        display: block;
        width: 100%;
        margin: 0;
        height: 50px;
        z-index: 1;
        background-color: #303030;
        flex-basis: 100%;
        line-height: 50px;
    }

    .header {
        justify-content: space-between;
        flex-wrap: wrap;

        
    }

    .nav {
    display: block;
    font-size: 25px;
    margin-right: 20px;
    align-items: center;
    color: rgb(128, 128, 128);
    }

    .nav:hover ~ ul {
        display: flex;
    }

    .nav:hover {
        margin-top: 22px;
    }


}